.header
    height: $nav-height
    background-color: white
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 2
    &__navmobile
        display: none
        position: relative
        background-color: white
        &__con
            height: $nav-height
            display: flex
            padding: 0 3%
            justify-content: space-between
            &__title
                display: block
                line-height: $nav-height
                font-weight: $font-regular
                color: $global-color-text
                text-decoration: none
            &__burgercon
                display: flex
                justify-content: center
                align-items: center
                width: $nav-height
                height: $nav-height
                cursor: pointer
                &__burger
                    position: relative
                    width: 40%
                    height: 20%
                    span
                        display: block
                        position: absolute
                        width: 100%
                        height: 3px
                        background-color: $global-color-accent
                        border-radius: 10px
                        // transition: .5s
                    span:nth-child(1)
                        top: 0
                        animation: top-burger-stop .3s forwards
                        &.active
                            animation: top-burger-start .3s forwards

                    span:nth-child(2)
                        top: 50%
                        animation: middle-burger-stop .3s forwards
                        &.active
                            animation: middle-burger-start .3s forwards

                    span:nth-child(3)
                        top: 100%
                        animation: bottom-burger-stop .3s forwards
                        &.active
                            animation: bottom-burger-start .3s forwards

        &__menucon
            position: absolute
            z-index: -1
            top: $nav-height
            left: 0
            right: 0
            padding: 0
            background-color: white
            transform: translateY(-100%)
            transition: .3s
            &.active
                transform: translateY(0)
            &__btncon
                list-style: none
                &__btn
                    display: block
                    padding: 0 3%
                    color: $global-color-text
                    text-decoration: none
                    font-weight: $font-light
                    line-height: calc($nav-height - 20px)
        &__closebg
            position: absolute
            display: none
            // background-color: black
            width: 100vw
            height: 100vh
            z-index: -2
            &.active
                display: block
    &__nav
        display: flex
        position: relative
        flex-direction: row
        justify-content: space-between
        max-width: 1140px
        margin: 0 auto
        padding: 0 3%
        &__title
            display: block
            line-height: $nav-height
            font-weight: $font-regular
            color: $global-color-text
            text-decoration: none
        &__right
            display: flex
            &__btn
                padding: 10px 0
                &__inner
                    display: block
                    line-height: calc($nav-height - 20px)
                    color: $global-color-text
                    text-decoration: none
                    font-weight: $font-light
                    padding: 0 25px
                    transition: .3s
                    &--highlight
                        font-weight: $font-medium
                        color: $global-color-accent

                    &:hover
                        color: $global-color-accent
                .--blue
                    background-color: $global-color-accent
                    border-radius: 6px
                    color: white
                    padding: 0 50px
                    transition: .3s
                    &:hover
                        background-color: $global-color-accent-hover
                        // color: #434655

        // &__calabria

                        position: absolute
                        width: 250px
                        height: 200px
                        right: 0
                        top: 100%
                        border-right: 300px solid rgba(249, 248, 113, 0.5)
                        border-bottom: 200px solid transparent
                        transition: .2s
                        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25)
            &:has(a:hover)
                border-right: 300px solid rgba(249, 248, 113, 1)

            @media (max-width: 768px)
                width: 200px
                height: 150px
                border-right: 250px solid rgba(249, 248, 113, 0.5)
                border-bottom: 150px solid transparent
                &:has(a:hover)
                    border-right: 250px solid rgba(249, 248, 113, 1)

            a
                color: rgba(0, 0, 0, 0.5)
                position: absolute
                right: -250px
                top: 40px
                display: block
                font-family: Arial, Helvetica, sans-serif
                font-weight: 900
                text-align: center
                text-transform: uppercase
                text-decoration: none
                transform: rotate(38deg)
                transition: .2s
                &:hover
                    color: rgba(0, 0, 0, 1)

                @media (max-width: 768px)
                    right: -225px
    &__promo-banner
        position: absolute
        top: 100%
        height: 80px
        width: 100%
        background-color: $global-color-accent
        transition: .3s
        &:has(a:hover)
            background-color: $global-color-accent-hover
        .wrapper
            height: 100%
            margin: 0 auto
            max-width: 1140px
        a
            display: block
            color: $global-color-primary
            font-weight: $font-bold
            font-size: $size-h4
            line-height: 80px
            text-align: center
            text-transform: uppercase
            letter-spacing: 200%
            transition: .3s
            &:hover
                color: $global-color-accent

@keyframes bottom-burger-start
    0%
        top: 100%
        transform: rotate(0deg)
    50%
        top: 50%
        transform: rotate(0deg)
    100%
        top: 50%
        transform: rotate(45deg)

@keyframes bottom-burger-stop
    100%
        top: 100%
        transform: rotate(0deg)
    50%
        top: 50%
        transform: rotate(0deg)
    0%
        top: 50%
        transform: rotate(45deg)

@keyframes middle-burger-start
    0%
        display: block
    50%
        display: none
    100%
        display: none

@keyframes middle-burger-stop
    100%
        display: block
    50%
        display: block
    49.9%
        display: none
    0%
        display: none

@keyframes top-burger-start
    0%
        top: 0%
        transform: rotate(0deg)
    50%
        top: 50%
        transform: rotate(0deg)
    100%
        top: 50%
        transform: rotate(-45deg)

@keyframes top-burger-stop
    100%
        top: 0%
        transform: rotate(0deg)
    50%
        top: 50%
        transform: rotate(0deg)
    0%
        top: 50%
        transform: rotate(-45deg)
