$global-color-accent: #2270E2
$global-color-accent-hover: #ACD5FF
$global-color-primary: #F4F8FD
$global-color-secondary: #F3F4F6
$global-color-third: #404040
$global-color-text: #212121

$font-style: "Poppins", sans-serif
$font-bold: 700
$font-semi-bold: 600
$font-medium: 500
$font-regular: 400
$font-light: 300

$size-h1: 3.33rem
$size-h2: 2.66rem
$size-h3: 1.86rem
$size-h4: 1.33rem
$size-h5: 1.2rem
$size-h6: 1.0667rem
$size-p: 1rem
$size-p-smaller: 0.933rem

$nav-height: 80px
