/*
Design by Bryant Smith
http://www.bryantsmith.com
Free use with link
*/

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #061C37;
	background: #043b7d url(images/tlo3.jpg);
	background-size: 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center;

}
*
{
  margin: 0 auto 0 auto; 
}

#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670px;
}

.topNaviagationLink
{
text-align:center;
position:relative;
margin-top:30px;
font-size:16px;
margin-left:-10px;
width:121px;
height: 35px;
line-height: 35px;
float:left;
color:#CEEAEE;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#CDE2FC;
}

.topNaviagationLink a:hover
{
color:#CDE2FC;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url(images/tab.png);

}

#mainPicture
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture1
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture1 .picture1
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/anoceanofsky.jpg);
background-repeat:no-repeat;
}

#mainPicture2
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture2 .picture2
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/pensjonat-logo.jpg);
background-repeat:no-repeat;
}

#mainPicture3
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture3 .picture3
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/ferrari-logo.jpg);
background-repeat:no-repeat;
}

#mainPicture4
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture4 .picture4
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/euro-logo.jpg);
background-repeat:no-repeat;
}

#mainPicture5
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture5 .picture5
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/telefon-logo.jpg);
background-repeat:no-repeat;
}

#mainPicture6
{
width:670px;
height:345px;
background-color:#FFFFFF;
}

#mainPicture6 .picture6
{
position:relative;
width:650px;
height:325px;
top:10px;
background-image:url(images/aparat-logo.jpg);
background-repeat:no-repeat;
}

#headerTitle
{
position:relative;
top:30px;
left:40px;
font-size:25px;
color:#FFFFFF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:30px;
left:50px;
font-size:14px;
color:#00FF00;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox
{
width:670px;
height:auto;
background-color:#FFFFFF;
}

.contentBox .innerBox
{
position:relative;
margin-top:10px;
width:650px;
height:auto;
top:10px;
background-image:url(images/content_back.png);
background-repeat:repeat-x;
padding-bottom:35px;
}

.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#footer {

width: 670px;
height:16px;
background: url(images/footer.png) no-repeat;
text-align:center;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#386172;
padding-top:5px;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}



